/task6/models
/task1/results_xlmr
/task1/results_xlm_roberta_base_256_tuned
/task1/results_xlmr_longer_train
/task1/results_xlmr_focal_thresh_tuning_opt
/task6-refactor/results/fold_1
/task6-refactor/results
/task6-refactor/models
/task1/results_mdeberta_256_tuned
/task1/results_mdeberta_focal_thresh_tuning_opt
/task6/final_model_training_output
/task1/models
/task1/optimized_results_mdeberta
/task1/optuna_cardiffnlp-twitter-roberta-base
/task1/optuna_xlmr_large_256_focused_v4
/task1/results_augmented_simcse_xlmr_base
/task1/results_augmentedchatgpt_xlmr_large_optimized
/task1/results_classifier_finetuned_on_simcse
/task1/results_deberta-v3-large
/task1/results_deberta_focal_adapt
/task1/results_simcse_xlmr_base
/task1/results_xlmr_augmented_longer_train
/task1/results_xlmr_longer_train_BEST
/task1/easy_xlmr_large_256
/task1/best_model_f1
/task1/xlmr_checkpoint5844
/task1/optimized_best_model
